<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="Anthor" content="冖於忄" />
    <title>冖於忄</title>
    <style>
        *{ margin:0; padding:0;font-family:"Microsoft yahei",serif;}
        li{ list-style-type: none;}
        #box{
            position: absolute;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 200px;
            height: 320px;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            margin: auto;
        }
        #imm{
            width: 200px;
            height: 200px;
        }
        #ppp{
            display: inline-block;
            width: 176px;
            height: 10px;
            font-size: 100px;
            color: #ff3739;
        }
    </style>
    <script>

    </script>
</head>
<body>
<div id="box">
    <img src="/images/err.png" id="imm"/>
    <p id="ppp">404</p>
</div>
</body>
</html>













